*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;   
}

:root {
    --moonlitasteroid:#2C5364;
    --white:#fafafa;
    --black:#030303;
    }

body{
        background: url('color-2326315_1920.jpg') center no-repeat;
        text-align: center;
  }



section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

div{
    width: 435px;
    height: 500px;
    margin: 30px;
    background-color: black;
}

 