*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;   
}

:root {
    --moonlitasteroid:#2C5364;
    --white:#fafafa;
    --black:#030303;
    }

body{
        background: url("/images/color-2326315.jpg") center no-repeat;
        text-align: center;
  }

  .navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color:#333333c2;
    color: white;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: rgba(129, 0, 161, 0.644);
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}


.tema{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.tema div{
    width: 435px;
    height: 600px;
    margin: 30px;
    background-color: black;
}

.spacious{
 height: 600px;
 width: 50px;
}

section p{
    color: cornsilk;
    font-size: 18px;
    margin-top: 10%;
}
 
.container {
    position: relative;
    width: 50%;
    margin-left: 25%;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 81%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 40px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
  }

  .prev{
    left: 0;
}
  
  /* On hover, add a black background color with a little bit see-through */
  
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }

@media (max-width: 1000px) {
    .tema div{
        width: 148px;
        height: 240px;
        margin-left: 0;
        margin-right: 0;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;

    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: 1.5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    .container {
        width: 100%;
        margin-left:0;
      }
      
      /* Next & previous buttons */
      .prev,
      .next {
        top: 82.5%;
        margin-top: -50px;
        font-size: 29.5px;
      }
      
}